!!! XML
%stop
  %stop_id= @stop.stop_id
  %stop_code= @stop.stop_name
  %stop_name= @stop.stop_name
  %stop_lat= @stop.stop_lat
  %stop_lon= @stop.stop_lon
  %zone_id= @stop.zone_id
  %stop_url= @stop.stop_url
  %location_type= @stop.location_type
  %stop_name= @stop.stop_name
  %parent_station= @stop.parent_station
  != @stop.geometry.to_xml(:skip_instruct => true, :root => :geometry)
  %stop_times{:type => "array"}
    - @stop.stop_times.each do |stime|
      %stop_time
        %route_id= stime["route_id"]
        %trip_id= stime["trip_id"]
        %arrival_time= stime["arrival_time"]
        %departure_time= stime["departure_time"]
        %stop_sequence{ :type => "integer" }= stime["stop_sequence"]
        %trip{ :link => url_for(:controller => :trips, :action => :show, :id => stime["trip_id"]) }
        %route{ :link => url_for(:controller => :routes, :action => :show, :id => stime["route_id"]) }
