<div class="offset4 span4">
	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name) ) do |f| %>

		<h2>Please sign in</h2>
		<%= f.input :email, :label => false, :placeholder => "Email address", :input_html => {:class => 'input-xlarge' } %>
		<%= f.input :password, :label => false, :placeholder => "Password", :input_html => {:class => 'input-xlarge' } %>
	

	  <% if devise_mapping.rememberable? -%>
			<%= f.input :remember_me, :as => :boolean, :label => false, :inline_label => "Remember Me" %>
	  <% end -%>

	  <div class="form-actions">
	  	<%= f.submit "Sign in", :class => "btn btn-primary" %>
		</div>
		<%= render "devise/shared/links" %>
	<% end %>
</div>